<div id="<%= dom_id entry %>">
  <p>
    <strong>Title:</strong>
    <%= entry.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= entry.description %>
  </p>

  <p>
    <strong>Posted on:</strong>
    <%= entry.posted_on %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= entry.place_id %>
  </p>

</div>
